*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 100px;
    z-index: 0;
}
#social-bar{
    width: 100%;
    height: 40px;
    padding: 20px;
    padding-right: 0%;
    padding-left: 0%;
    position: fixed;
    margin-top: -85px;
}
#social-bar-logo{
    color:#848484;
    width: 294px;
    height: 30px;
    font-size:30px;
    font-weight: bold;
    margin-left: 20px;
    filter: blur(0px);
    margin-top: 5px;
}
#social-bar-logo a{
    color: #848484;
    text-decoration: none;
}
#social-bar-favorites{
    font-size: 25px;
    color: #848484;
    float: right;
    margin-right:20px;
    margin-top: -30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

#social-bar-search{
    box-shadow: #848484 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #ffffffe9;
    width: 400px;
    height: 40px;
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    display: none;
}
#social-bar-search i{
    height: 25px;
    width: 25px;
    margin-top: 7.5px;
    margin-right:10px;
    font-size: 25px;
    float: right;
    color: #848484;
    display: none;
}
#social-bar-search-input{
    width: 335px;
    height: 40px;
    box-shadow: #848484 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px;
    padding-left: 15px;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ffffff5b;
    display: none;
}

#container{
    margin: auto;
    width:90%;
    height: auto;

}
#container div{
    width: 24%;
    height: auto;
    float: left;
    justify-content: space-evenly;
    margin: 5px;
    
}
#container div img{
    width: 100%;
    height: auto;
    margin-top:10px;
    border-radius: 5px;
    z-index: 1;
}
#container div i{
    position: absolute;
    text-decoration: none;
    color: rgba(55, 55, 55, 0.703);
    z-index: 2;
    font-size:40px;
    margin-top: -55px;
    margin-left:15px;
}
#container div i:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);  
    -moz-transform: scale(1.12);
    transform: scale(1.2);
}
@media screen and (max-width: 1400px){
    #container div{
        width: 32%;
    }
}
@media screen and (max-width: 900px) {
    #container div{
        width: 48%;
    }

}
@media screen and (max-width: 850px) {
    #social-bar-favorites{
        margin-top: -55px;
        
    }
}
@media screen and (max-width: 630px) {
    #container div{
        width: 100%;
        margin-top: 50px;
    }
    #social-bar-logo{
        margin: auto;
    }
    #social-bar-search{
        margin: auto;
        float: none;
        margin-top: 20px;
    }
    #social-bar-favorites{
        margin-top: -85px;
    }
}

